.home-project-scrollable-container{
    height: 2000px;
    width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.home-project-container{
    position: sticky;
    top: 20%;
    
}

.home-project-header {
    display: flex;
    justify-content: flex-start;
    gap: 25%;
    align-items: center;
}

.home-project-header p{
    font-weight: 500;
    font-size: 20px;
}

.home-project-content{
    flex-direction: row;
    height: 450px;
    gap: 130px;
    width: 1200px;
    display: flex;
}

.home-project-image {
    text-align: left;
    flex-direction: column;
    display: flex;
    width: 640px;
    height: 360px;
}

.home-project-image img{
    width: 640px;
    height: 360px;
    object-fit: cover;
    object-position:bottom;
    filter: grayscale(20%) brightness(95%) contrast(95%);
    border-radius: 2%;
}

.home-project-introduction {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    height: 360px;
}

.more-projects {
    text-align: center;
    cursor: pointer;
}

.more-projects p {
    display: inline-block;
}

.more-projects p:hover {
    text-decoration: underline;
}

.more-projects p:active {
    transform: scale(0.97);
}

.home-project-link {
    cursor: pointer;
}

.home-project-link p {
    display: inline-block;
}

.home-project-link p:hover {
    text-decoration: underline;
}

.home-project-link p:active {
    transform: scale(0.97);
}


