footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
}

footer div {
  font-size: 1rem;
}

.footer-text {
    color: rgb(61, 136, 221);
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.footer-links li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.footer-links li:active  {
    transform: scale(0.95); /* Press-down effect */
}