.product-column{
    display: flex;
    align-items: first baseline;
    justify-content: left;
    flex-direction: column;
    text-align: left;
    transform: scale(0);
    animation: fadeInUp 2s 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.product-column img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    object-fit:cover;
}

.projectInfo h2{
    color: #000000;
    text-transform: uppercase;
}

.expertise{
    height: 300px;
    border-radius: 20px;
    background-color:bisque;
    padding: 10px 30px;
    box-sizing: border-box;
}

.tech-stack{
    width: 1000px;
}

.project-count{
    width: 500px;
}

.expertise h2{
    color: #000000;
    font-size:25px;
    font-weight: 600;
}