body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
  font-family: 'DM Sans';
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 60px;
  line-height: 97.2%;
  color: #181717;
}

h2{
  font-weight: 400;
  font-size: 32px;
  line-height: 117%;
  color: #606060;
}
