.projects-window {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 6% 300px 0px 300px;
    box-sizing: border-box;
  }

.project-header{
    display: flex;
    justify-content: flex-start;
    gap: 25%;
    align-items: center;
}

.project-divider {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1.5rem 0; /* Adjust spacing as needed */
}





